@charset "UTF-8";
* {


    background-color:#7ebeab
}
.sign {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #5654a2;     /* 背景色     */
  color         : #330033;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #5654a2;    /* 枠の指定 */
}
.sign:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #5654a2;     /* 背景色     */
  background    : #330033;     /* 文字色     */
}
.back {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #f09199;     /* 背景色     */
  color         : #330033;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #f09199;    /* 枠の指定 */
}
.back:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #f09199;     /* 背景色     */
  background    : #330033;     /* 文字色     */
}
.delete {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #c1e4e9;     /* 背景色     */
  color         : #330033;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #c1e4e9;    /* 枠の指定 */
}
.delete:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #c1e4e9;     /* 背景色     */
  background    : #330033;     /* 文字色     */
}
p.kana {position: absolute; top: 40px;left:60px; }
p.name {position: absolute; top: 70px;left:60px; }
#pic{
	width:250px; height:100px;
	margin:73px 350px;
}
p.sex {position: absolute; top: 100px;left:60px;}
p.department { position: absolute; top: 125px;left:60px;}
p.record { position: absolute; top: 155px;left:60px;}
p.adrss { position: absolute; top: 185px;left:60px;}
p.mail {  position: absolute; top: 215px;left:60px;}
p.tel { position: absolute; top: 245px;left:60px;}
p.skill{ position: absolute; top: 275px;left:60px;}
p.button{ position: absolute; top: 350px;left:60px;}